.achievements-container {
	margin-bottom: 10px;

	.btn {
		margin-bottom: 10px;
	}

	hr {
		margin-top: 0px;
		margin-bottom: 10px;
		border-color: rgb(204, 204, 204);
		border-width: 2px;
		border-style: dashed;
	}
}