.monster-health-row {
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	  margin-top: 10px;
	}

	@media (max-width: $breakpoint-smaller-desktop) {
	  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		  padding-left: 2px;
		  padding-right: 2px;
		}
	}

	div {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.text-middle-button {
	margin-top: 11px;
}

.monster-health-container {
	.btn {
		min-height: 44px;
	}
}

.scenario-chooser-container {
	div {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.btn-scenario-chooser {
	margin-bottom: 5px;
}

.btn-monster {
	.gloomhaven-icon-img {
		margin-right: 2px;
		margin-left: 2px;
	}
}

.status-token-buttons {
	.btn {
		margin-top: 5px;
	}

	div {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.monster-health-col {
	border-top: 1px;
  border-top-color: grey;
  border-top-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;

	.wide-left, .wide-right, .wide-both {
		margin-top: 2px;
	}

	.wide-left, .wide-both {
		padding-left: 2px;
	}

	.wide-right, .wide-both {
		padding-right: 2px;
	}

	@media (max-width: $breakpoint-smaller-desktop) {
	  .wide-both, .wide-left, .wide-right {
		  padding-left: 2px;
		  padding-right: 2px;
		}
	}
}

.monster-heath-monsters-container {
	margin-top: 10px;

	.progress {
		margin-bottom: 0px;
		margin-top: 7px;
	}
}

.progress-grey div {
	background-color: lightgrey;
	color: black;
}