#root .party-text-area {
	height: 200px;
}

@media (min-width: $breakpoint-smaller-desktop+1) {
  .reputation-well  {
		margin-top: 18px;
	}
}

.reputation-label {
	font-size: xx-large;
}

.reputation-header {
	font-weight: bold;
}

.achievements-container {
	margin-bottom: 10px;
	margin-top: 10px;

	.btn {
		margin-bottom: 10px;
	}

	hr {
		margin-top: 0px;
		margin-bottom: 10px;
		border-color: rgb(204, 204, 204);
		border-width: 2px;
		border-style: dashed;
	}
}

.party-achievements-key {
	div {
		margin-bottom: 10px;
		white-space: normal;
	}
}