.prosperity-checks-list {
	.glyphicon {
		padding: 5px 5px 6px 7px;
		font-size: 20px;
		margin-top: 3px;
		color: $colour-doomstalker;
		//color: white;
	}

	.milestone {
		color: $colour-brute;
	}
}