/* general button styles */

#root, #modal {
	.btn-custom {
		color: black;
		opacity: 0.8;
		border-width: 1px;
		font-weight: bold;
	}

	.btn-custom:hover {
		color: white;
		opacity: 0.9;
	}

	.btn-custom:focus {
		color: white;
		opacity: 1.0;
	}

	.btn-selected-light {
		@extend .btn-custom;
		background-color: #adadad;
		border-color: #adadad;
	}

	.btn-brute {
		@extend .btn-custom;
		background-color: $colour-brute;
		border-color: $colour-brute;
	}

	.btn-doomstalker {
		@extend .btn-custom;
		background-color: $colour-doomstalker;
		border-color: $colour-doomstalker;
	}

	.btn-cragheart {
		@extend .btn-custom;
		background-color: $colour-cragheart;
		border-color: $colour-cragheart;
	}

	.btn-lightning {
		@extend .btn-custom;
		background-color: $colour-lightning;
		border-color: $colour-lightning;
	}

	.btn-scoundrel {
		@extend .btn-custom;
		background-color: $colour-scoundrel;
		border-color: $colour-scoundrel;
	}

	.btn-monster-normal, .btn-monster-normal:focus, .btn-monster-normal:hover {
		@extend .btn-custom;
		background-color: white;
		color: black;
	}

	.btn-monster-elite, .btn-monster-elite:hover, .btn-monster-elite:focus {
		@extend .btn-custom;
		background-color: $colour-elite;
		border-color: $colour-elite;
		color: black;
	}

	.btn-monster-dead, .btn-monster-dead:hover, .btn-monster-dead:focus {
		@extend .btn-custom;
		background-color: white;
		color: lightgrey;
		text-decoration: line-through;
	}

	.btn-disabled {
		@extend .btn-custom;
		opacity: 0.2;
	}

	.btn-disabled:hover {
		opacity: 0.2;
	}

	.btn-disabled:focus {
		opacity: 0.2;
	}
}
