$colour-sunkeeper: rgb(239, 188, 65);
$colour-beast-class: rgb(169, 113, 89);
$colour-quartermaster: rgb(211, 131, 47);
$colour-brute: rgb(103, 120, 174);
$colour-doomstalker: rgb(101, 188, 226);
$colour-cragheart: rgb(135, 138, 53);
$colour-lightning: rgb(202, 79, 76);
$colour-scoundrel: rgb(167, 202, 98);
$colour-elite: rgb(239, 188, 65);