@import 'stylesheets/main.scss';

.content {
  margin-top: 60px;
}

@media (max-width: $breakpoint-smaller-desktop) {
  .content {
		margin-top: 110px;
	}
}

@media (max-width: $breakpoint-tablet) {
  .content {
		margin-top: 355px;
	}
}