@import 'stylesheets/main.scss';

.content {
  margin-top: 50px;
}

@media (max-width: $breakpoint-smaller-desktop) {
  .content {
		margin-top: 100px;
	}
}

@media (max-width: $breakpoint-tablet) {
  .content {
		margin-top: 345px;
	}
}