@import 'stylesheets/main.scss';

.content {
  margin-top: 60px;
  margin-bottom: 10px;
}

@media (max-width: $breakpoint-menu-second-line) {
  .content {
		margin-top: 110px;
	}
}

@media (max-width: $breakpoint-tablet) {
  .content {
		margin-top: 60px;
	}
}

.error-stack {
	margin-top: 10px;
}